<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Smart Maint</title>
    <meta name="description" content="Smart Maint">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.png}">


    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/tg-cursor.css}">
    <link rel="stylesheet" th:href="@{/assets/css/default.css}">
    <link rel="stylesheet" th:href="@{/assets/css/jarallax.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
</head>
<body>

<!-- Preloader-start -->
<div id="preloader">
    <div class="ta-preloader-block">
        <div class="ta-spinner-eff">
            <div class="ta-bar ta-bar-top"></div>
            <div class="ta-bar ta-bar-right"></div>
            <div class="ta-bar ta-bar-bottom"></div>
            <div class="ta-bar ta-bar-left"></div>
        </div>
    </div>
</div>
<!-- Preloader-start-end -->

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
<div th:replace="~{header :: header}"></div>
<!-- header-area-end -->


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
        <div class="breadcrumb-shape" data-background="assets/img/images/breadcrumb_shape.png"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- about-area -->
    <section class="about-area inner-about-area pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                    <div class="about-img-wrap">
                        <img src="assets/img/images/about_img01.jpg" alt="" class="wow fadeInRight"
                             data-wow-delay=".4s">
                        <img src="assets/img/images/about_img02.jpg" alt="" class="wow fadeInRight"
                             data-wow-delay=".2s">
                        <div class="about-experiences-wrap">
                            <div class="experiences-item">
                                <div class="icon">
                                    <img src="assets/img/icon/about_icon01.svg" alt="">
                                </div>
                                <div class="content">
                                    <h6 class="title">We have more than 10 years of experiences</h6>
                                </div>
                            </div>
                            <div class="experiences-item">
                                <div class="icon">
                                    <img src="assets/img/icon/about_icon02.svg" alt="">
                                </div>
                                <div class="content">
                                    <h6 class="title">We use professional and experienced person</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="about-content">
                        <div class="section-title mb-25">
                            <span class="sub-title">About Our Company</span>
                            <h2 class="title">We’re Committed to Roofing Excellence</h2>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majori have suffered
                            alteration in some form, by injected humour, or randomised word which don't look even
                            slightly
                            believable.</p>
                        <div class="about-list">
                            <ul class="list-wrap">
                                <li><i class="fas fa-check"></i>32k Partners have worked us.</li>
                                <li><i class="fas fa-check"></i>Professional and experienced human resources.</li>
                                <li><i class="fas fa-check"></i>Provide the best roof services</li>
                            </ul>
                        </div>
                        <a th:href="@{/about}" class="btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->


    <!-- work-area -->
    <section class="work-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-50">
                        <span class="sub-title">Working Plan</span>
                        <h2 class="title">Roof Plan Working Process</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="assets/img/images/work_img01.png" alt="">
                            <h4 class="number">01</h4>
                        </div>
                        <div class="work-content">
                            <h2 class="title">Plan for Roofing</h2>
                            <p>Suffered alteration in some a form, by injected humour, or randomised word</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="assets/img/images/work_img02.png" alt="">
                            <h4 class="number">02</h4>
                        </div>
                        <div class="work-content">
                            <h2 class="title">Schedule Estimate</h2>
                            <p>Suffered alteration in some a form, by injected humour, or randomised word</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="assets/img/images/work_img03.png" alt="">
                            <h4 class="number">03</h4>
                        </div>
                        <div class="work-content">
                            <h2 class="title">Install New Roof</h2>
                            <p>Suffered alteration in some a form, by injected humour, or randomised word</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="work-item">
                        <div class="work-thumb">
                            <img src="assets/img/images/work_img04.png" alt="">
                            <h4 class="number">04</h4>
                        </div>
                        <div class="work-content">
                            <h2 class="title">Enjoy Roofing</h2>
                            <p>Suffered alteration in some a form, by injected humour, or randomised word</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work-area-end -->

    <!-- history-area -->
    <section class="history-area pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="history-img-wrap">
                        <ul class="list-wrap">
                            <li>
                                <img src="assets/img/images/history_img01.jpg" alt="">
                            </li>
                            <li>
                                <img src="assets/img/images/history_img02.jpg" alt="">
                                <a href="https://www.youtube.com/watch?v=PFkXoK5x5KE"
                                   class="play-btn popup-video pulse"><i class="fas fa-play"></i></a>
                            </li>
                            <li>
                                <img src="assets/img/images/history_img03.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="history-content">
                        <div class="section-title mb-20">
                            <span class="sub-title">Our Roofing History</span>
                            <h2 class="title">Roofing when an unknown printer took to make type book</h2>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majori our as have
                            suffered alteration in some form, by injected humour, or randomised word which don't look
                            even slightly believable.</p>
                        <div class="history-list">
                            <ul class="list-wrap">
                                <li><i class="fas fa-check-circle"></i>Technology management</li>
                                <li><i class="fas fa-check-circle"></i>Roofing Solutions</li>
                                <li><i class="fas fa-check-circle"></i>Modern Worker Working here</li>
                                <li><i class="fas fa-check-circle"></i>Quick Response</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- history-area-end -->

    <!-- area-bg -->
    <div class="area-bg-five" data-background="assets/img/bg/area_bg05.jpg">

        <!-- team-area -->
        <section class="inner-team-area pb-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center mb-60">
                            <span class="sub-title">Professional Team</span>
                            <h2 class="title">Professional Team Member</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                        <div class="team-item">
                            <div class="team-thumb">
                                <a th:href="@{/team-details.html}"><img th:src="@{/assets/img/team/team_img01.jpg}" alt=""></a>
                                <div class="team-social">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content">
                                <h2 class="title"><a href="team-details.html">Robert C. Simmons</a></h2>
                                <span>Roof Engineer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                        <div class="team-item">
                            <div class="team-thumb">
                                <a th:href="@{/team-details.html}"><img th:src="@{/assets/img/team/team_img02.jpg}" alt=""></a>
                                <div class="team-social">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content">
                                <h2 class="title"><a href="team-details.html">Christopher Jhon</a></h2>
                                <span>Roof Engineer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                        <div class="team-item">
                            <div class="team-thumb">
                                <a th:href="@{/team-details.html}"><img th:src="@{/assets/img/team/team_img03.jpg}" alt=""></a>
                                <div class="team-social">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content">
                                <h2 class="title"><a href="team-details.html">Karikoka Ahli</a></h2>
                                <span>Roof Engineer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                        <div class="team-item">
                            <div class="team-thumb">
                                <a href="team-details.html"><img src="assets/img/team/team_img04.jpg" alt=""></a>
                                <div class="team-social">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-content">
                                <h2 class="title"><a href="team-details.html">Dickerson MH</a></h2>
                                <span>Roof Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-area-end -->

        <!-- testimonial-area -->
        <section class="inner-testimonial-area parallax pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="section-title text-center mb-50">
                            <span class="sub-title">Our Testimonial</span>
                            <h2 class="title">What Our Client Feedback</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="testimonial-inner">
                            <div class="testimonial-active-two">
                                <div class="testimonial-item-two">
                                    <div class="testimonial-avatar-two">
                                        <img src="assets/img/images/h2_testi_avatar01.png" alt="">
                                    </div>
                                    <div class="testimonial-content-two">
                                        <div class="content-top">
                                            <div class="icon">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <p>There are many varation of paissages of Lorem as the Ipum available but our
                                            majority have sufferied alterations in some form, by our by injected hsumour
                                            randomised worids which don't looks even slightly there as believable. If
                                            you going to use a passage of Lorem Ipsum.</p>
                                        <div class="content-bottom">
                                            <h4 class="title">Darrell Steward</h4>
                                            <span>Roofing Expert</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item-two">
                                    <div class="testimonial-avatar-two">
                                        <img src="assets/img/images/h2_testi_avatar02.png" alt="">
                                    </div>
                                    <div class="testimonial-content-two">
                                        <div class="content-top">
                                            <div class="icon">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <p>Lorem Ipsum are many varation of paissages of Lorem as the Ipum available but
                                            our majority have sufferied alterations in some form, by our by injected
                                            hsumour randomised worids which don't looks even slightly there as
                                            believable. If you going to use a passage of Lorem Ipsum.</p>
                                        <div class="content-bottom">
                                            <h4 class="title">Robert C. Simmons</h4>
                                            <span>Roofing Expert</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item-two">
                                    <div class="testimonial-avatar-two">
                                        <img src="assets/img/images/h2_testi_avatar03.png" alt="">
                                    </div>
                                    <div class="testimonial-content-two">
                                        <div class="content-top">
                                            <div class="icon">
                                                <i class="fas fa-quote-left"></i>
                                            </div>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <p>Lorem Ipsum are many varation of paissages of Lorem as the Ipum available but
                                            our majority have sufferied alterations in some form, by our by injected
                                            hsumour randomised worids which don't looks even slightly there as
                                            believable. If you going to use a passage of Lorem Ipsum.</p>
                                        <div class="content-bottom">
                                            <h4 class="title">Karikoka Ahli</h4>
                                            <span>Executive Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-avatar-wrap">
                    <ul class="list-wrap">
                        <li>
                            <img src="assets/img/images/h4_testi_avatar01.png" class="layer" data-depth="0.1" alt="">
                        </li>
                        <li>
                            <img src="assets/img/images/h4_testi_avatar02.png" class="layer" data-depth="0.2" alt="">
                        </li>
                        <li>
                            <img src="assets/img/images/h4_testi_avatar03.png" class="layer" data-depth="0.05" alt="">
                        </li>
                        <li>
                            <img src="assets/img/images/h4_testi_avatar03.png" class="layer" data-depth="0.2" alt="">
                        </li>
                        <li>
                            <img src="assets/img/images/h4_testi_avatar02.png" class="layer" data-depth="0.05" alt="">
                        </li>
                        <li>
                            <img src="assets/img/images/h4_testi_avatar01.png" class="layer" data-depth="0.1" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- testimonial-area-end -->

    </div>
    <!-- area-bg-end -->

    <!-- brand-area -->
    <div class="inner-brand-area pt-120 pb-120">
        <div class="container">
            <div class="row brand-active-three">
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img01.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img02.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img03.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img04.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img05.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img06.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="brand-item">
                        <img src="assets/img/brand/brand_img03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-area-end -->

</main>
<!-- mian-area-end -->

<!-- footer-area -->
<div th:replace="~{footer :: footer}"></div>
<!-- footer-area-end -->


<!-- JS here -->
<script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/jquery.odometer.min.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/slick-animation.min.js}"></script>
<script th:src="@{/assets/js/ajax-form.js}"></script>
<script th:src="@{/assets/js/jarallax.min.js}"></script>
<script th:src="@{/assets/js/parallax.min.js}"></script>
<script th:src="@{/assets/js/gsap.js}"></script>
<script th:src="@{/assets/js/ScrollTrigger.js}"></script>
<script th:src="@{/assets/js/SplitText.js}"></script>
<script th:src="@{/assets/js/gsap-animation.js}"></script>
<script th:src="@{/assets/js/tg-cursor.min.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
