<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Smart maint</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" id="css-main" href="assets/admincss/dashmix.min.css">
    <!-- END Stylesheets -->
</head>
<body>
<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
    <!-- Side Overlay-->
    <div th:insert="side-overlay.html"></div>
    <!-- END Side Overlay -->

    <!-- Sidebar -->
    <div th:insert="sidebar.html"></div>
    <!-- END Sidebar -->

    <!-- Header -->
    <div th:insert="headerAdmin.html"></div>
    <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Hero -->
                <div class="bg-dark">
                    <div class="bg-black-25">
                        <div class="content content-full content-top">
                            <div class="py-4 text-center">
                                <h1 class="font-w700 text-white mb-2">
                                    Welcome to our learning platform
                                </h1>
                                <h2 class="h3 font-w400 text-white-75">
                                    Education matters, never stop learning new skills
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Hero -->

                <!-- Page Content -->
                <div class="content content-boxed">
                    <div class="row row-deck">
                        <div class="col-md-6">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-image" style="background-image: url('assets/media/photos/photo24.jpg');" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full bg-black-50">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        JavaScript
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Learn Vue 2: Step By Step</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        35 Lessons | Beginner
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-image" style="background-image: url('assets/media/photos/photo22.jpg');" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full bg-xsmooth-op">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        CSS
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Modern CSS for Developers</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        10 Lessons | Beginner
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-xmodern" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        Business
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Social Marketing</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        15 Lessons | Beginner
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-xwork" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        Coding
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">C# Essentials</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        22 Lessons | Hard
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-xeco" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        Design
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Sketch From Scratch</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        42 Lessons | Beginner
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-black-75" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full bg-danger">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        PHP
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Laravel 5.6 From Scratch</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        60 Lessons | Intermediate
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-black-75" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full bg-gd-lake-op">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        Coding
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Building a PWA</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        35 Lessons | Hard
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-black-75" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full bg-gd-sublime-op">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        HTML
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">HTML5 Bible</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        25 Lessons | Beginner
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-black-75" href="be_pages_education_course.html" data-toggle="click-ripple">
                                <div class="block-content block-content-full bg-gd-fruit-op">
                                    <span class="d-inline-block py-1 px-2 rounded bg-black-75 font-size-sm font-w700 text-uppercase text-white">
                                        Coding
                                    </span>
                                    <div class="py-6">
                                        <div class="font-size-sm mb-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                        <h3 class="font-w700 text-white mb-1">Learning Java 8</h3>
                                    </div>
                                    <span class="font-size-sm font-w700 text-uppercase text-white-75">
                                        50 Lessons | Intermediate
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->

               
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="bg-body-light">
                <div class="content py-0">
                    <div class="row font-size-sm">
                        
                        <div class="col-sm-6 order-sm-1 text-center text-sm-left">
                            <a class="font-w600">Smart maint</a> &copy; <span data-toggle="year-copy"></span>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->


        <script src="assets/adminjs/dashmix.core.min.js"></script>


        <script src="assets/adminjs/dashmix.app.min.js"></script>
    </body>
</html>
