<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Smart maint</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" id="css-main" href="assets/admincss/dashmix.min.css">
    <!-- END Stylesheets -->
</head>
<body>
<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
    <!-- Side Overlay-->
    <div th:insert="side-overlay.html"></div>
    <!-- END Side Overlay -->

    <!-- Sidebar -->
    <div th:insert="sidebar.html"></div>
    <!-- END Sidebar -->

    <!-- Header -->
    <div th:insert="headerAdmin.html"></div>
    <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Hero -->
                <div class="bg-dark bg-image" style="background-image: url('assets/media/photos/photo23@2x.jpg');">
                    <div class="bg-black-75">
                        <div class="content content-full content-top">
                            <div class="py-4 text-center">
                                <h1 class="font-w700 text-white mb-2">
                                    Modern CSS for Developers
                                </h1>
                                <h2 class="h3 font-w400 text-white-75">
                                    All the tips and tricks you need to know to be a pro
                                </h2>
                                <a class="btn btn-hero-primary" href="javascript:void(0)" data-toggle="click-ripple">
                                    <i class="fa fa-play mr-1"></i> Start Series
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Hero -->

                <!-- Page Content -->
                <div class="content content-boxed">
                    <!-- Meta -->
                    <div class="row row-deck">
                        <div class="col-md-6">
                            <a class="block block-rounded block-bordered block-link-shadow" href="javascript:void(0)">
                                <div class="block-content block-content-full text-center bg-body-light">
                                    <img class="img-avatar img-avatar-thumb" src="assets/media/avatars/avatar11.jpg" alt="">
                                    <div class="mt-2">
                                        <p class="font-w600 mb-0">
                                            John Doe <span class="font-w400 text-muted mb-0">| CSS Guru</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <div class="row gutters-tiny">
                                        <div class="col-6">
                                            <div class="item item-circle mx-auto">
                                                <i class="fa fa-fw fa-boxes fa-2x text-dark"></i>
                                            </div>
                                            <p class="text-muted mb-0">
                                                16 Courses
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="item item-circle mx-auto">
                                                <i class="fa fa-fw fa-users fa-2x text-dark"></i>
                                            </div>
                                            <p class="text-muted mb-0">
                                                17k Customers
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="block block-rounded block-bordered block-link-shadow">
                                <div class="block-content">
                                    <table class="table table-borderless table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="text-warning">
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                    </span>
                                                    <span class="class">(790 reviews)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-fw fa-heart mr-1 text-danger"></i> 590 Favorites
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-fw fa-calendar mr-1"></i> 2 weeks ago
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-fw fa-shopping-basket mr-1"></i> 1750 Sales
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-fw fa-tags mr-1"></i>
                                                    <a class="badge badge-primary text-uppercase font-w600" href="javascript:void(0)">CSS</a>
                                                    <a class="badge badge-primary text-uppercase font-w600" href="javascript:void(0)">Sass</a>
                                                    <a class="badge badge-primary text-uppercase font-w600" href="javascript:void(0)">Less</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Meta -->

                    <!-- Lessons -->
                    <div class="block block-rounded block-bordered">
                        <div class="block-content">
                            <table class="table table-striped table-borderless table-vcenter">
                                <tbody>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                01
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 1</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 20:52
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Introduction to Flexbox
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                02
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 2</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 11:03
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Grid vs Flexbox
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                03
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 3</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 17:23
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Component Design
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                04
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 4</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 32:15
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Refactoring to Utility Classes
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                05
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 5</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 21:33
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Basic Layouts
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                06
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 6</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 17:26
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Navigation Patterns
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                07
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 7</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 19:18
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Pricing Tables
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                08
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 8</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 23:02
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Ads design
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                09
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 9</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 12:15
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Mobile-First Design
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-25 d-none d-md-table-cell">
                                            <a class="item item-circle bg-primary text-white font-size-h2 mx-auto" href="javascript:void(0)">
                                                10
                                            </a>
                                        </td>
                                        <td>
                                            <div class="py-4">
                                                <div class="font-size-sm font-w700 text-uppercase mb-2">
                                                    <span class="text-muted mr-3">Episode 10</span>
                                                    <span class="text-primary">
                                                        <i class="fa fa-clock"></i> 18:69
                                                    </span>
                                                </div>
                                                <a class="link-fx h4 mb-2 d-inline-block text-dark" href="javascript:void(0)">
                                                    Conclusions
                                                </a>
                                                <p class="text-muted mb-0">
                                                    Ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Lessons -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="bg-body-light">
                <div class="content py-0">
                    <div class="row font-size-sm">
                        <div class="col-sm-6 order-sm-1 text-center text-sm-left">
                            <a class="font-w600">Smart maint</a> &copy; <span data-toggle="year-copy"></span>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->


        <script src="assets/adminjs/dashmix.core.min.js"></script>

        <!--
            Dashmix JS

            Custom functionality including Blocks/Layout API as well as other vital and optional helpers
            webpack is putting everything together at assets/_js/main/app.js
        -->
        <script src="assets/adminjs/dashmix.app.min.js"></script>
    </body>
</html>
