<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Smart Maint</title>
    <meta name="description" content="Smart Maint">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.png}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/tg-cursor.css}">
    <link rel="stylesheet" th:href="@{/assets/css/default.css}">
    <link rel="stylesheet" th:href="@{/assets/css/jarallax.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">

</head>
<body>
<footer>
    <div class="footer-area footer-bg" th:data-background="@{/assets/img/bg/footer_bg.jpg}">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-7">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="footer-widget">
                            <h2 class="fw-title">Our Services</h2>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Preventive Maintenance</a></li>
<!--                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Emergency Repair</a></li>-->
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Failure Analysis</a></li>
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Corrective Maintenance</a></li>
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Equipment Modernization And Upgrading</a></li>
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Training And Technical Assistance</a></li>
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Installing, Commissioning And Start-up Assistance</a></li>
                                    <li><a href="project.html"><i class="fas fa-angle-double-right"></i>Organization, Workflows And Procedures</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h2 class="fw-title">Quick Links</h2>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="contact.html"><i class="fas fa-angle-double-right"></i>Terms &
                                        Conditions</a></li>
                                    <li><a href="about.html"><i class="fas fa-angle-double-right"></i>Our Process</a>
                                    </li>
                                    <li><a th:href="@{/contact}"><i class="fas fa-angle-double-right"></i>Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-logo-area">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-12">
                            <div class="logo">
                                <a href="index.html"><img th:src="@{/assets/img/logo/logo.png}" alt="" style="background-color: white"></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-contact">
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="content">
                                    <span>Phone No</span>
                                    <a href="tel:0123456789">+212 6 00 00 00 00</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-6">
                            <div class="footer-social">
                                <h2 class="title">Follow Us:</h2>
                                <ul class="list-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>© Copyright 2023. All Right Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-bootom-menu">
                            <ul class="list-wrap">
                                <li><a href="contact.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS here -->
<script th:src="@{/assets/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/jquery.odometer.min.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/slick-animation.min.js}"></script>
<script th:src="@{/assets/js/ajax-form.js}"></script>
<script th:src="@{/assets/js/jarallax.min.js}"></script>
<script th:src="@{/assets/js/parallax.min.js}"></script>
<script th:src="@{/assets/js/gsap.js}"></script>
<script th:src="@{/assets/js/ScrollTrigger.js}"></script>
<script th:src="@{/assets/js/SplitText.js}"></script>
<script th:src="@{/assets/js/gsap-animation.js}"></script>
<script th:src="@{/assets/js/tg-cursor.min.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>